<div  *ngIf="(savedUniversities$ | async)?.length; else no_data">
<div *ngFor="let item of savedUniversities$ | async">
    <mat-card>
        <mat-card-title><a href="{{item.web_pages[0]}}" target="_blank"><mat-icon class="teal-button" aria-hidden="false" aria-label="link">link</mat-icon>{{item.name}}</a></mat-card-title>
        <!-- <mat-card-subtitle></mat-card-subtitle> -->
       
        <mat-card-actions align="end">
          <button mat-icon-button (click)="removeBookmark(item)">
            <mat-icon class="red-button" aria-hidden="false" aria-label="favorite">clear</mat-icon>
        </button>
        </mat-card-actions>

      </mat-card>
    <!-- <button >Save</button> -->
</div>
</div>

<ng-template #no_data>
  <div class="no-data">
      <div class="no-data-message">
          No bookmarks yet...
      </div>
  </div>
</ng-template>

<div id="download">
  <img #canvas>
  <a #downloadLink></a>
</div>