<div class="header">

    <div class="form">
        <form [formGroup]="searchForm">
            <mat-form-field appearance="standard">
                <mat-label>Country</mat-label>
                <input #country matInput formControlName="searchedCountry" type="text" name="" id=""
                    [matAutocomplete]="countriesAutocomplete">

                <mat-autocomplete autoActiveFirstOption #countriesAutocomplete="matAutocomplete">
                    <mat-option *ngFor="let country of filteredCountries$ | async" [value]="country">
                        {{country}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <mat-form-field appearance="standard">
                <mat-label>Name</mat-label>
                <input matInput formControlName="searchedUniversity" type="text" name="" id="">
            </mat-form-field>
        </form>


    </div>
</div>
<ng-container *ngIf="(universities$ | async)?.length; else no_data">
    <div *ngFor="let item of universities$ | async">

        <mat-card @fadeIn>
            <mat-card-title><a href="{{item.web_pages[0]}}" target="_blank">
                    <mat-icon class="teal-button" aria-hidden="false" aria-label="link">link</mat-icon>
                    {{item.name}}
                </a></mat-card-title>

            <mat-card-actions align="end">
                <button mat-icon-button (click)="remove(item)" *ngIf="item.saved">
                    <mat-icon class="red-button" aria-hidden="false" aria-label="favorite">favorite</mat-icon>
                </button>
                <button mat-icon-button (click)="saveBookmark(item)" *ngIf="!item.saved">
                    <mat-icon aria-hidden="false" aria-label="remove favorite">favorite_border</mat-icon>
                </button>

            </mat-card-actions>
        </mat-card>
    </div>


</ng-container>

<ng-template #no_data>
    <div class="no-data">
        <div class="no-data-message">
            No data to display
        </div>
    </div>
</ng-template>